{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | Zaplanuj Jedzonko</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700|Open+Sans:400,600,700&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <header class="page-header">
        <nav class="navbar navbar-expand-lg justify-content-start">
            <a href="/" class="navbar-brand main-logo main-logo-smaller">
                Zaplanuj <span>Jedzonko</span>
            </a>
             {% if user.is_authenticated %}
             <div class="d-flex justify-content-around">
                 <a href="{% url 'logout' %}" class="text-light mr-3">Logout</a>
             </div>
             <div class="d-flex justify-content-around">
                 <a href="{% url 'profile' %}" class="text-light mr-3">Profile</a>
             </div>
             {% else %}
             <div class="d-flex justify-content-around">
                 <a href="{% url 'login' %}" class="text-light mr-3">Login</a>
             </div>
             <div class="d-flex justify-content-around">
                 <a href="{% url 'registration' %}" class="text-light mr-3">Rejestracja</a>
             </div>
             {% endif %}
        </nav>
    </header>
    <section class="dashboard-section">
        <div class="row dashboard-nowrap">
            <ul class="nav flex-column long-bg">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/main/">
                        <span>Pulpit</span>
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/recipe/list">
                        <span>Przepisy</span>
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/plan/list/">
                        <span>Plany</span>
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/plan/add-recipe/">
                        <span>Przepis do planu</span>
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                    </ul>

            <div class="m-4 p-3 width-medium text-color-darker">

<!-- //--------------------------- page content -------------------------// -->
{% block content %}{% endblock content %}
<!-- //--------------------------- page content end ---------------------// -->

            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>