{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
<form id="myform" action="" method="POST"> {% csrf_token %}
    <div class="mt-4 ml-4 mr-4">
        <div class="row border-bottom border-3">
            <div class="col"><h3 class="color-header text-uppercase">Edycja
                przepisu</h3></div>
            <div class="col d-flex justify-content-end mb-2">
                <button type="submit"
                        class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                    Zapisz
                </button>
            </div>
        </div>

        <table class="table borderless">
            <tbody>
            <tr class="d-flex">
                <th scope="row" class="col-2">Nazwa Przepisu</th>
                <td class="col-7">
                    {{ form.name }}
{#                    <input class="w-100 p-1" value="z ziemniakami i brukselką">#}
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Opis przepisu</th>
                <td>{{ form.description }}</td>
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Przygotowani(minuty)</th>
                <td class="col-3">
{#                    <input class="p-1" type="number" value="45">#}
                    {{ form.preparation_time  }}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row d-flex">
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Sposób przygotowania</h3></div>
            <div class="col-2"></div>
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Składniki</h3></div>
        </div>
        <div class="row d-flex">
            <div class="col-5 p-4">
                {{ form.preparation_description }}
{#                <textarea class="w-100 p-1" rows="10">Po tym czasie ziemniaki zalej śmietaną wymieszaną z Knorr Naturalnie smaczne, dodaj liście brukselki i dokładnie wymieszaj.</textarea>#}
            </div>
            <div class="col-2"></div>

            <div class="col-5 p-4">
                                    {{ form.ingredients }}
            </div>
        </div>
    </div>
</form>
</div>
{% endblock content %}