{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
    <form id="myform" action="" method="POST"> {% csrf_token %}
    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">SZCZEGÓŁY PRZEPISU DO PLANU</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
             <button type="submit"
                        class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">
                    Zapisz
                </button>
        </div>
    </div>

    <div class="schedules-content">
        <div class="schedules-content-header">
                {{ form.as_p }}
            </form>
    </div>
</div>
{% endblock content %}